/* Deafult Attributes For Project  */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    background-color: #2a2a2a;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}