/* Deafult Attributes For Project  */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --mainBackground: #bccbde;
    --sectionBackground: #c2dde6;
    --contentColor: #431c5d;
    --errorColor: #e05915;
}

body {
    background-color: var(--mainBackground);
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* remove default padding-left number of the lists */
ul {
    padding-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}