@import url("./default.css");

/* Default ayarlar (sonra düzenlenecek) */

section > div {
    border: 4px dotted darkred;
}
/* (end)  Default ayarlar (sonra düzenlenecek) */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: var(--contentColor);
}

.main-container-1,
.main-container-2,
.main-container-3 {
    border-radius: 16px;
    box-shadow: 4px 8px 40px 5px #2a0000;
    background-color: var(--sectionBackground);
}

button,
input,
select {
    border-radius: 6px;
}

button {
    line-height: 30px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid;
    transition-property:  background-color,color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.danger-button {
    color: var(--errorColor);
}

.danger-button:hover {
    background-color: var(--errorColor);
    color: white;
}

.success-button {
    color: var(--contentColor);
}

.success-button:hover {
    color: white;
    background-color: var(--contentColor);
}

.timer-section .main-container-1 {
    width: 90%;
    height: 364px;
    margin: 0 auto 1.5rem;
    text-align: center;
    display: grid;
    grid-template-rows: 120px 80px 60px 48px 54px 4px;
}

.timer-section .timer-area {
    color: var(--contentColor);
    font-size: 6rem;
}

.timer-section .start-button-area {
    margin-bottom: 1.8rem;
}

.timer-section .time-selector-input {
    width: 9%;
    height: 3rem;
    font-size: 2.6rem;
    color: var(--contentColor);
    background-color: var(--mainBackground);
    font-weight: 700;
    border-radius: 6px;
    text-align: center;
}



.timer-section .category-selector-area {
    width: 30%;
    line-height: 40px;
    margin: auto;
}

.timer-section select {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
}

.timer-section .adjust-reset-area {
    text-align: center;
}

.timer-section .adjust-reset-buttons {
    margin: auto;
    width: 50%;
}

section > .main-container-2 {
    width: 90%;
    height: 120px;
    margin: 0 auto 1.5rem;
    text-align: center;
}

.add-delete-section #categoryLabel {
    display: inline-block;
    margin: 0.4rem 30%;
    color: var(--contentColor);
    font-size: 20px;
    font-weight: 600;
    /* padding: 1.5rem 30%; */
}


    
.add-delete-section #addCategoryInput {
    height: 40px;
    background-color: var(--mainBackground);
    font-size: 18px;
    border-color: var(--contentColor);
}

.list-section .main-container-3 {
    width: 90%;
    height: fit-content;
    margin: 0 auto 1.5rem;
}

.list-section h2 {
    padding: 0 5.2rem;
    display: grid;
    font-size: 1.8em;
    text-align: left;
    grid-template-columns: 12fr 12fr 12fr;
    column-gap: 3.6rem;
}

.list-delete-title {
    text-align: right;
    padding-right: 1.2rem;
}

.list-section .list-area {
    /* margin: auto; */
    padding: 0 7rem;
}

.list-section .category-list-item {
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 6fr 1fr;
    column-gap: 1rem;
    font-size: 1.8em;
    color: var(--contentColor);
}

.list-section .list-category-icon {
    text-align: right;
}

.list-section img {
    width: 2.6rem;
    background-color: var(--errorColor);
    border-radius: 6px;
}
