@import url("./default.css");

/* Default ayarlar (sonra düzenlenecek) */

section > div {
    border: 4px dotted darkred;
}

.main-container-1 > div {
    border: 2px dashed blue;
}
/* (end)  Default ayarlar (sonra düzenlenecek) */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: yellow;
}

.main-container-1,
.main-container-2,
.main-container-3 {
    border-radius: 16px;
    box-shadow: 4px 8px 40px 5px #2a0000;
}

button {
    line-height: 30px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
}

.timer-section .main-container-1 {
    width: 90%;
    height: 364px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-rows: 120px 80px 60px 48px 54px 4px;
}

.timer-section .timer-area {
    color: yellow;
    font-size: 6rem;
}

.timer-section .start-button-area {
    margin-bottom: 1.8rem;
}

.timer-section .time-selector-input {
    width: 9%;
    height: 3rem;
    font-size: 2.6rem;
    color: yellow;
    background-color: aquamarine;
    font-weight: 700;
    border-radius: 6px;
    text-align: center;
}



.timer-section .category-selector-area {
    width: 30%;
    line-height: 40px;
    margin: auto;
}

.timer-section select {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
}

.timer-section .adjust-reset-area {
    text-align: center;
}

.timer-section .adjust-reset-buttons {
    margin: auto;
    width: 50%;
}

section > .main-container-2 {
    width: 90%;
    height: 120px;
    margin: auto;
    text-align: center;
}

.add-delete-section #addCategoryInput {
    height: 36px;
    background-color: aquamarine;
}

.list-section .main-container-3 {
    width: 90%;
    height: fit-content;
    margin: auto;
}

.list-section .list-area {
    /* margin: auto; */
    padding: 0 7rem;
}

.list-section .category-list-item {
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 6fr 1fr;
}



/* .list-section .category-list-item span {

} */