@import url("./default.css");

/* Default ayarlar (sonra düzenlenecek) */

/* section > div {
    border: 4px dotted darkred;
} */
/* (end)  Default ayarlar (sonra düzenlenecek) */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: var(--contentColor);
}

.main-container-1,
.main-container-2,
.main-container-3 {
    border-radius: 16px;
    box-shadow: 4px 8px 40px 5px #2a0000;
    background-color: var(--sectionBackground);
}

button,
input,
select {
    border-radius: 6px;
}

button {
    line-height: 30px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid;
    transition-property:  background-color,color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.danger-button {
    color: var(--errorColor);
}

.danger-button:hover {
    background-color: var(--errorColor);
    color: white;
}

.success-button {
    color: var(--contentColor);
}

.success-button:hover {
    color: white;
    background-color: var(--contentColor);
}

/* SECTION-1  (TIMER AND ADJUSTING ITEMS) */
.timer-section .main-container-1 {
    width: 90%;
    height: 364px;
    margin: 0 auto 1.5rem;
    text-align: center;
    display: grid;
    grid-template-rows: 120px 80px 60px 48px 54px auto;
}

.timer-section .timer-area {
    color: var(--contentColor);
    font-size: 6rem;
}

.timer-section .start-button-area {
    margin-bottom: 1.8rem;
    margin: 0 auto;
}


.timer-section .time-selector-input {
    width: 9%;
    height: 3rem;
    font-size: 2.6rem;
    color: var(--contentColor);
    background-color: var(--mainBackground);
    font-weight: 700;
    border-radius: 6px;
    text-align: center;
}



.timer-section .category-selector-area {
    width: 30%;
    line-height: 40px;
    padding: 0 2px;
    margin: auto;
}

.timer-section select {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
}

.timer-section .adjust-reset-area {
    text-align: center;
}

.timer-section .adjust-reset-buttons {
    margin: auto;
    width: 50%;
}

.timer-section .info-message-area {
    display: none;
    position: absolute;
    width: 60%;
    height: 80px;
    margin: 10px 15%;
    top: 280px;
}

/* Animation to display info-messages */
/* These codes refer to JS "displayInfoMessage()" function. */
@keyframes info-message-animation {
    7%{
        height: 32px;
        font-size: 1rem;
        padding-top: 0.4rem;
    }
    15%{
        height: 84px;
        padding-top: 0.8rem;
    }
    18%{
        height: 84px;
        font-size: 1.3rem;
        padding-top: 0.8rem;
    }
    100%{
        height: 84px;
        font-size: 1.3rem;
        padding-top: 0.8rem;
    }
}

.timer-section #info-message {
    /* width: ; */
    height: 16px;
    /* font-size: 10px; */
    animation-name: info-message-animation;
    animation-duration: 5s;
    animation-iteration-count: 1;
}


/* SECTION-2  (CREATE NEW CATEGORY) */
section > .main-container-2 {
    width: 90%;
    height: 120px;
    margin: 0 auto 1.5rem;
    text-align: center;
}


.add-delete-section #categoryLabel {
    display: inline-block;
    margin: 0.4rem 36%;
    color: var(--contentColor);
    font-size: 20px;
    font-weight: 600;
    /* padding: 1.5rem 30%; */
}

.add-delete-section #addCategoryInput {
    height: 40px;
    background-color: var(--mainBackground);
    font-size: 18px;
    border-color: var(--contentColor);
}

.list-section .main-container-3 {
    width: 90%;
    height: fit-content;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.list-section .list-title {
    background-color: #AC71D4;
    height: 54px;
    margin-block: 0;
    padding: 0 60px;
    border-radius: 16px 16px 0 0;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 31% 31% 30%;
    column-gap: 4%;
}

.list-section .name-title {
    text-align: left;
}

.list-section .time-title {
    text-align: center;
}

.list-section .icon-title {
    text-align: right;
}

.list-section .list-title > div {
    outline: 3px solid red;
    padding-top: 10px;
}

.list-section .list-area {
    list-style-type: none;
    outline: 3px dotted black;
}

.list-section .list-area li {
    outline: 3px dashed purple;
    height: 54px;
    padding: 0 70px 0 60px;
    display: grid;
    grid-template-columns: 31% 31% 30%;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--contentColor);
    column-gap: 4%;
    overflow: hidden;
}

.list-section .list-area li:nth-child(2n+1) {
    background-color: #D4E7ED;
}

.list-section .list-category-time {
    text-align: center;
    letter-spacing: 7px;
}

.list-section .list-category-icon {
    text-align: right;
}

.list-section .deleteIcon {
    width: 2rem;
}

.list-section .list-area li > div {
    outline: 3px solid red;
    padding: 8px 0;
}



/*
####   RESPONSIVE BREAKPOINTS   ####
*/

/* For Tablets */
@media screen and (min-width: 621px) and (max-width: 820px) {

    .timer-section .time-selector-input {
        width: 11%;
        font-size: 2rem;
    }

    .timer-section .category-selector-area {
        margin: 0 auto;
        width: 45%;
        padding: 0.2rem 1rem;
        overflow: hidden;
        outline: 2px dashed red;
    }

    .timer-section select {
        width: 90%;
        line-height: 30px;
        font-size: 1.1rem;
        font-weight: bold;
        border-radius: 6px;
    }

    .add-delete-section #categoryLabel {
        margin: 0.4rem 30%;
    }

    .list-section .list-title {
        font-size: 1.1rem;
    }

    .list-section .list-area li {
        font-size: 1.2rem;
    }

    .list-section .list-area li > div {
        padding: 10px 0 6px 0;
    }
}


/*  For Smartphones */
@media screen and (min-width: 0px) and (max-width: 620px) {

    /* ---- TEST OUTLINES  ---- */
    .main-container-1 > div,
    .main-container-2 > div,
    .main-container-3 > div {
        outline: 3px dotted red;
    }

    button {
        line-height: 24px;
        font-size: 15px;
        padding: 8px 18px;
        transition-property:  background-color,color;
        transition-duration: 300ms;
        transition-timing-function: ease-out;
    }

    .danger-button {
        color: var(--errorColor);
    }
    .danger-button:active {
        background-color: var(--errorColor);
        color: white;
    }

    .success-button {
        color: var(--contentColor);
    }
    
    .success-button:active {
        color: white;
        background-color: var(--contentColor);
    }

    .timer-section .main-container-1 {
        height: 330px;
        display: grid;
        text-align: center;
        grid-template-rows: 100px 80px 50px 40px 45px auto;
    }

    .timer-section .timer-area {
        font-size: 5rem;
    }

    .timer-section .start-button-area {
        margin-bottom: 1.5rem;
    }

    .timer-section .time-selector-input {
        width: 14%;
        font-size: 1.8rem;
        height: 2.4rem;
    }

    .timer-section .category-selector-area {
        width: 72%;
        padding: 1px 2px;
        line-height: 24px;
        margin: auto;
    }

    .timer-section select {
        height: 32px;
        font-size: 15px;
        width: 206px;
    }

    .timer-section .adjust-reset-buttons {
        width: 70%;
        margin: auto;
        padding: 0 4px;
    }

    .timer-section .info-message-area {
        display: none;
        position: absolute;
        border-radius: 14px;
        width: 76%;
        height: 130px;
        margin: 10px 7%;
        top: 260px;
    }
    
    /* Animation to display info-messages */
    /* These codes refer to JS "displayInfoMessage()" function. */
    @keyframes info-message-animation {
        7%{
            height: 32px;
            font-size: 0.6rem;
            padding-top: 0.4rem;
        }
        17%{
            height: 110px;
            padding-top: 1rem;
        }
        21%{
            height: 110px;
            font-size: 1.3rem;
            padding-top: 1rem;
        }
        100%{
            height: 110px;
            font-size: 1.3rem;
            padding-top: 1rem;
        }
    }
    
    .timer-section #info-message {
        /* width: ; */
        height: 44px;
        border-radius: 14px !important;
        animation-name: info-message-animation;
        animation-duration: 5s;
        animation-iteration-count: 1;
    }

    section > .main-container-2 {
        height: 145px;
        margin: 0 auto 1.5rem;
        text-align: center;
    }

    .add-delete-section #categoryLabel {
        margin: 0.4rem 20%;
    }

    .add-delete-section #addCategoryInput {
        height: 35px;
        width: 190px;
        margin: 0 25% 0.4rem 25%;
    }

    .list-section .list-title {
        height: 48px;
        font-size: 1.1rem;
        padding: 0 30px;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 45% 31% 16%;
        column-gap: 4%;
    }

    .list-section .name-title {
        text-align: left;
    }
    
    .list-section .time-title {
        text-align: left;
    }
    
    .list-section .icon-title {
        text-align: right;
    }

    .list-section .list-area li {
        outline: 3px dashed purple;
        height: 48px;
        padding: 0 30px 0 30px;
        display: grid;
        grid-template-columns: 45% 31% 16%;
        font-size: 1.1rem;
        color: var(--contentColor);
        column-gap: 4%;
        overflow: hidden;
    }

    .list-section .list-area li > div {
        padding: 11px 0;
    }
}